html, body, svg, div { 
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro";
}

div {
  padding: 10px;
}

svg {
    font: 12pt sans-serif;
    font-family: "Source Sans Pro";
    font-weight: 100;
    padding: 10px;
    background: #f7f5f0;
    margin: 0 auto;
    display: block;
    border: 2px solid #555;
    border-radius: 8px;
}

.axis-label {
    font-weight: 300;
    font-size: 18pt;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.frame {
  fill: #fff;
  stroke: #aaa;
  zorder: -1;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

#caption{
	word-wrap: normal;
	font: 20px sans-serif;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

#footer {    
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10pt;
    color: #666;
}

#footer a {
    color: #555;
    text-decoration: none;
}

#footer a:hover {
    color: #000;
    text-decoration: underline;
}

#controls {
    margin: 0 auto;
    text-align: center;
}

.navigation {
    list-style: none;
    display: inline;
}
.navigation li {
  color: #999;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 18px;
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  border-left: solid 1px #CCC;
  background: #f9f9f9;
  margin: 0 0;
  white-space: nowrap;
  display:inline-block;
}

.navigation li:first-of-type{
  border-radius: 4px 0 0 4px;
}
.navigation li:last-of-type{

  border-right: solid 1px #CCC;
  border-radius: 0 4px 4px 0;
}
.navigation li.selected {
  color: #000;
  background: #e9e9e9;
  border-color: #AAA;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

.y-label {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
}