html, body, svg { 
    margin: 0px;
    padding: 0px;
}

svg {
    font: 15px sans-serif;
    font-family: "Telex";
    font-weight: 200;
    padding: 10px;
    background: #f7f5f0;
    margin: 0 auto;
    display: block;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.frame {
  fill: #fff;
  stroke: #aaa;
  zorder: -1;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

#controls {
    margin: 0 auto;
    text-align: center;
}

#controls button {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

#caption{
	word-wrap: normal;
	font: 18px sans-serif;
    font-family: "Telex";
    width: 60%;
    margin: 0 auto;
}