/*
    Global stuffs
*/
* {
    font-family: "Roboto", sans-serif;
}

html, body, div {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 600px;
    color: #333333;
}

hr {
    border: 1px solid #cccccc;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*
    Header / footer
*/
header {
    text-align: center;
    margin: 25px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    font-size: 400%;
    font-weight: 800;
}

h2 {
    font-weight: 600;
    font-size: 250%;
    color: #666666;
}

footer {
    margin: 0 auto;
    line-height: 160%;
}

/*
    Links
*/
a {
    color: #2b8cbe;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

/*
    Inputs and buttons
*/

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 125%;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #d6d6d6;
  background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
  background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #d6d6d6 #d6d6d6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd6d6d6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #d6d6d6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/*
    Page content wrapper
*/
.wrapper {
    width: 65%;
    margin: 0 auto;
}

.wrapper p {
    font-size: 135%;
}

.gistURLInput {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 125%;
    font-weight: 300;
    width: 85%;
    margin-bottom: 10px;
}

/* Inset and shade */
.well {
    text-align: center;
    background: #f3f3f3;
    padding: 15px;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}